# A generic mongodb mongoexpress pair that actually works

# docker rm -f mongo
# docker rm -f mongo-express
# run using docker-compose up --force-recreate -d
# conn string = mongodb://localhost:27017

version: '3.9'
services:
  mongo:
    image: bitnami/mongodb:8.0.3-debian-12-r0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      # The username for the MongoDB root user (admin user).
      - MONGO_INITDB_ROOT_USERNAME=test
      # The password for the MongoDB root user (admin user).
      - MONGO_INITDB_ROOT_PASSWORD=test2
    networks:
      - mynetwork

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      # The connection string to access the MongoDB database.
      # Format: mongodb://<host>:<port>/
      # It points to the "mongo" service created in this file.
      - ME_CONFIG_MONGODB_URL=mongodb://mongo:27017/
      # Disables basic authentication for accessing the Mongo Express UI.
      # Set to "true" to enable authentication.
      - ME_CONFIG_BASICAUTH=false
      # The username for MongoDB administrative access, required by Mongo Express.
      # Must match the MongoDB root username set in the "mongo" service.
      - ME_CONFIG_MONGODB_ADMINUSERNAME=test
      # The password for MongoDB administrative access, required by Mongo Express.
      # Must match the MongoDB root password set in the "mongo" service.
      - ME_CONFIG_MONGODB_ADMINPASSWORD=test2
    networks:
      - mynetwork

networks:
  # To make the two above can talk to each other.
  # I tried to simplify to just use host network, but sadly host network can't be used to port forward and be a network
  # for the two simultaneously in Windows :(
  mynetwork:
    driver: bridge
